{{#partial "content"}}

    <h1>Recorded Sightings</h1>

    {{#if animals}}
        {{#each animals }}
            <p>Animal Name : {{name}}</p>
            <p>Ranger Name : {{rangerName}}</p>
        {{/each}}
    {{else}}
        <p>No animals tracked</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}